@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

:root {
  --dark: #030034;
  --focus: #dafd6b;
  --focus2: #fc74a8;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--focus2);
  width: 100%;
  overflow-x: hidden;
}
